@model SpaASMR2018.ViewModels.GenresViewModel
@Scripts.Render("~/bundles/jquery")
<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-4"><center><p><i>This site is in development. Please report any errors you encounter here:</i></p></center></div>
            <div class="col-xs-7"><button class="btn btn-danger" id="onErrorReport">Errors</button></div>
        </div>
        <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6" id="errorReporting" style="display: none;">
                @using (Html.BeginForm("submit", "errors"))
                {
                    <div class="form-group">
                        @Html.LabelFor(e => e.UserName)
                        @Html.TextBoxFor(e => e.UserName)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(e => e.UserEmail)
                        @Html.TextBoxFor(e => e.UserEmail)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(e => e.UserInput)
                        @Html.TextAreaFor(e => e.UserInput)
                    </div>
                }
            </div>
            <div class="col-xs-3"></div>
        </div>
        <div class="row">
            <div class="col-xs-10"></div>
            <div class="col-xs-2"><p>&copy; @DateTime.Now.Year - Spa: ASMR</p></div>
        </div>
    </div>
</footer>




<script type="text/javascript">
    $("#onErrorReport").click(function () {
        console.log("fired");
        $("#errorReporting").toggle();
    });
</script>


