<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <nav class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-7">@Html.ActionLink("Spa: ASMR", "Index", "Home", "", new { @class = "navbar-brand", @id = "logo" }) </div>
                    <div class="col-xs-1" id="beta">(Beta)</div>
                    <div class="col-xs-3"></div>
                </div>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Top ASMRtists
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/Artist/index/4">Gentle Whispering</a></li>
                        <li><a href="/Artist/index/5">ASMR Glow</a></li>
                        <li><a href="/Artist/index/6">Gibi ASMR</a></li>
                        <li><a href="/Artist/index/7">Heather Feather</a></li>
                        <li><a href="/Artist/index/8">ASMRrequests</a></li>
                        <li><a href="/Artist/index/9">ASMR Darling</a></li>
                        <li><a href="/Artist/index/10">Whispers Red</a></li>
                        <li><a href="/Artist/index/11">MissASMR</a></li>
                        <li><a href="/Artist/index/12">ARDRA -asmr-</a></li>
                        <li><a href="/Artist/index/13">Donna ASMR</a></li>
                    </ul>
                </li>
                </ul>
                <div class="navbar-collapse collapse">
                    @Html.Partial("_LoginPartial")
                </div>
        </nav>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    @Html.Partial("_FooterPartial", new SpaASMR2018.ViewModels.ErrorViewModel())



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>
</html>

<script type="text/javascript">
    $("#onErrorReport").click(function () {
        console.log("fired");
        $("#errorReporting").toggle();
    });

    $("#onSuccess").click(function () {
        bootbox.alert("Error Submitted! Thank you.");
    })
</script>


