@model SpaASMR2018.ViewModels.GenresViewModel

@{
    /**/

    ViewBag.Title = "Home Page";
}


@using (Html.BeginForm("Get", "api/Videos", FormMethod.Get))
        {
    <div class="form-group">
        @Html.LabelFor(v => v.Language, "In which language would you prefer your videos?")
        @Html.DropDownListFor(v => v.Language, Model.Languages, new { @class = "form-control" })
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(v => v.Gender, "Would you prefer your ASMRtist to be female or male?")
        @Html.DropDownListFor(v => v.Gender, Model.Genders, new { @class = "form-control" })

    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(v => v.Genre, "Which genre of ASMR do you prefer?")
        @Html.DropDownListFor(v => v.Genre, Model.Genres, new { @class = "form-control" })
    </div>
    <br />

    <button type="submit" class="btn btn-primary">Save</button>

}











@*<div class="jumbotron">
        <h1>Spa: ASMR</h1>
        <p class="lead">Which language would you like your ASMR videos to be?</p>
        <div class="dropdown show">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Language
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">English</a></li>
                <li><a class="dropdown-item" href="#">Russian</a></li>
            </ul>
        </div>

        <p class="lead">Which you like your ASMRtist to be female or male?</p>
        <div class="dropdown show">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Gender
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Female</a></li>
                <li><a class="dropdown-item" href="#">Male</a></li>
            </ul>
        </div>

        <p class="lead">Which genre of ASMR do you prefer?</p>
        <div class="dropdown show">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Genre
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Verbal (Aspirations, Whispering, etc.)</a></li>
                <li><a class="dropdown-item" href="#">Objects (Mostly non-verbal)</a></li>
                <li><a class="dropdown-item" href="#">Roleplays (Characters and Miscellaneous)</a></li>
                <li><a class="dropdown-item" href="#">Exam Roleplays (Dr. Vist, Spa, Massage, etc.)</a></li>
            </ul>
        </div>
        <br /><br />
        <button class="btn btn-primary" type="submit">Get Videos</button>
    </div>*@






