@model SpaASMR2018.ViewModels.GenresViewModel

@{
    /**/

    ViewBag.Title = "Home Page";
}

<div class="container">

    <div class="row"><p></p></div>
    <div class="col-xs-6">
        <div class="row"><p></p></div>
        <div class="row"><p></p></div>
        <div class="row"><p></p></div>
        <div class="row"><p></p></div>
        @using (Html.BeginForm("Get", "api/Videos", FormMethod.Get))
        {
            <div class="form-group">
                @Html.LabelFor(v => v.Language, "In which language would you prefer your videos?")
                @Html.DropDownListFor(v => v.Language, Model.Languages, new { @class = "form-control" })
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(v => v.Gender, "Would you prefer your ASMRtist to be female or male?")
                @Html.DropDownListFor(v => v.Gender, Model.Genders, new { @class = "form-control" })

            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(v => v.Genre, "Which genre of ASMR do you prefer?")
                @Html.DropDownListFor(v => v.Genre, Model.Genres, new { @class = "form-control" })
            </div>
            <br />

            <button type="submit" class="btn btn-primary">Get Videos!</button>
        }
    </div>
    <div class="col-xs-6">
        <div class="row"></div>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10"><center><h2 id="intro">Log In To Save Your Top Videos!</h2></center></div>
            <div class="col-xs-1"></div>
        </div>
        <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-3">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-block" })</div>
            <div class="col-xs-3">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-success btn-block" })</div>
            <div class="col-xs-3"></div>
        </div>

        <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6"><center><h3 id="intro">What is ASMR?</h3></center></div>
            <div class="col-xs-3"></div>
        </div>
        <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6"><center><button class="btn btn-info" id="onClickAboutAsmr">Tell me more</button></center></div>
            <div class="col-xs-3"></div>
        </div>
        <div class="row">
            <div class="row"><p></p></div>
            <div class="col-xs-12" id="aboutAsmr" style="display: none;">
                <center>
                    <p>
                        <b>
                            <i>A</i>
                        </b>utonomous
                        <b>
                            <i>S</i>
                        </b>ensory
                        <b>
                            <i>M</i>
                        </b>eridian
                        <b>
                            <i>R</i>
                        </b>esponse is the “tingling” sensation that
                        <i>some</i> people experience, usually in response to soft sounds or gentle touching.
                    </p>
                    <p>
                        People who experience ASMR often first notice the sensation during an exam from a doctor. Videos that try to stimulate the
                        viewer’s ASMR have become popular on youtube. Many of these videos are in the form of role-plays; many such role-plays
                        mimic the doctor’s exam.
                    </p>
                    <p>
                        Content creators on youtube who specialize in making videos to stimulate ASMR are known as “ASMRtists.” This site, <b>
                            <i>
                                Spa: ASMR
                            </i>
                        </b> provides you with the best ASMR videos from the top ASMRtists, based on your preferences.  
                    </p>
                    <p>
                        Read more about ASMR on
                        <a href="https://en.wikipedia.org/wiki/Autonomous_sensory_meridian_response" target="_blank">Wikipedia</a>.
                    </p>
                </center>
            </div>

        </div>
    </div>
</div>

@section scripts{
    <script>
        $("#onClickAboutAsmr").click(function () {
            $("#aboutAsmr").toggle();
        })
    </script>


}



















