@model SpaASMR2018.ViewModels.UserViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name Profile</h1>


<h2>Your top video:</h2>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Video Name</th>
            <th>Video Artist</th>
            <th>Video Url</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var favorite in Model.FavoriteVideos)
            {
                <td>@favorite.Video.Name</td>
                <td>@favorite.Video.ArtistName</td>
                <td>@favorite.Video.Url</td>
            }

        </tr>
    </tbody>
</table>
<h2>
    @Html.ActionLink("Update Registration Details", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
</h2>

