@model SpaASMR2018.ViewModels.UserViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name Profile</h1>


<h2>Your Favoite Videos:</h2>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Video Name</th>
            <th>Video Artist</th>
            <th>Video Url</th>
            <th>Remove From Favorites</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var favorite in Model.Favorites)
        {
            <tr>
                <td>@favorite.VideoName</td>
                <td>@favorite.VideoArtistName</td>
                <td><a class="btn btn-link" href="@favorite.VideoUrl" target="_blank" role="button">Watch Video</a></td>
                <td>@Ajax.ActionLink("Remove Video from Favorites", "remove", "api/favorites/", new { id = favorite.Id }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccess" })</td>
            </tr>
        }
    </tbody>
</table>
<h2>
    @Html.ActionLink("Update Registration Details", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
</h2>

@section scripts {
    <script>
        function onSuccess() {
            console.log("success");
            location.reload();
            alert("Video Removed from Favorites");
            console.log("success");
        }
    </script>
    
    
    
    }