@model SpaASMR2018.ViewModels.GenresViewModel
@{
    ViewBag.Title = "GetVideos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Gender @Model.Genre ASMR Videos</h1>

<table id="videos" class="table table-striped table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>Video Name</th>
            <th>ASMRtist</th>
            <th>Url</th>
            <th>Add to Favorites</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var video in Model.Videos)
        {
            <tr>                
                <td>@video.Name</td>
                <td>@video.ArtistName</td>
                <td><a class="btn btn-link" href="@video.Url" target="_blank" role="button">Watch Video</a></td>
                <td>@Ajax.ActionLink("Add Video to Favorites", "post", "api/favorites/", new { id = video.Id }, new AjaxOptions { HttpMethod="POST", OnSuccess = "onSuccess", OnFailure = "onFailure" })</td>
            </tr>
        }
    </tbody>

</table>


@section scripts

{
   <script>
       $(document).ready(function () {
           $("#videos").DataTable();
       })
       function onSuccess() {
           alert("Video saved to your list of Favorites!");
       };
       function onFailure() {
           window.location.href = "https://" + window.location.hostname + ":" + window.location.port + "/account/login";
       };
   </script>

}


